*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    background: darkgrey;
    background-size: 100%;

}
.container{
    width: 400px;
    padding: 50px;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 8px;
}